<!--The content below is only a placeholder and can be replaced.-->
<div id="main">
  <br><br><br>
  <div id="big">
      <div id="small">
      
      &nbsp;&nbsp;<img width="35" height="35" alt="Checkout" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtdvTYfeAd3Tq_x0Xao6Kb2zMc_t0E9W4JdWuRjtSGZXXHM7pW">&nbsp;&nbsp;&nbsp;Checkout
      
      </div>
  <h1 id="data">
     &nbsp; My Store
   </h1>
   <br>
   <app-top-bar></app-top-bar>
   <app-product-list></app-product-list>
</div>
</div>



