#big{
    width:400px;
    border:2px solid blue;
    background-color: blue;
    margin: auto;
    height:70px;
    padding:10px
    


}
#small{
    border:1px solid black;
    width:140px;
    height:50px;
    float:right;
    background-color: white;
}
#data{
    color: white;
}
#main{
    margin:auto;
    border:1px solid grey;
    height:600px;
    width:500px;
}